{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Application Title{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('css/admin/main.css') }}" rel="stylesheet" />
            <link href="{{ asset('js/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.css') }}" rel="stylesheet" />
            <link href="{{ asset('js/primeui/themes/cupertino/theme.css') }}" rel="stylesheet" />
            <link href="{{ asset('js/primeui/production/primeui-1.0-min.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block javascripts %}
            <script src="{{ asset('js/jquery-2.1.0.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui/js/jquery-ui-1.10.4.js') }}"></script>
            <script src="{{ asset('js/primeui/production/primeui-1.0-min.js') }}"></script>
            <script src="{{ asset('js/admin_base.js') }}"></script>
        {% endblock %}

        <div id="header">
        {% block menu %}{% endblock %}
    </div>
    <div id="messages">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>

    <div id="sidebar">
        {% block sidebar %}
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block body %}
            <div id="delete-dialog-confirm" title="Delete Item?">
                <p>
                    <span class="ui-icon ui-icon-alert" 
                          style="float:left; margin:0 7px 20px 0;">

                    </span>This item will be permanently deleted and cannot be recovered. Are you sure?</p>
            </div>
        {% endblock %}
    </div>

    <div id="footer">
    {% block footer %}{% endblock %}
</div>
</html>